/***********
=======================
Muhammad Rizal
XI MM3
15 Desember 2014
=======================
*********/
*{
	padding:0px;
	margin:0px;
}	
a:link{
	text-decoration:none;
	-moz-transition:0s;
	-webkit-transition:0s;
	transition:0s;
	color:#005A55;
	}
a:visited{
	text-decoration:overline;
	color:#10120D;
	}
a:hover{
	text-decoration:underline;
	color:#242F39;
	-moz-transition:all. 5s ease-out;
	-webkit-transition:all .5s ease-out;
	transition:all .5s ease-out;
	}
	a:active{
		color:#000;
		
	}
body{
	font:normal normal 14px/1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#005A55;
}
table,td,th,tr{
	border-collapse:collapse;
	}
th{
	font-weight:bold;
}
strong,b{
	font-weight:bold;
	}
	h1{font-size:200%;}
	h2{font-size:180%;}
	h3{font-size:160%;}
	h4{font-size:140%;}
	h6{font-size:120%;}
	h1,h2,h3,h4,h5,h6{font-weight:bold;font-style:normal;line-height:normal;}
#wrapper{
	max-width:95%;
	margin:0 auto;
	border:2px groove #000;
	background-color:white;
	overflow:hidden;
	
}
header{
	margin:0px 5px;
	padding:5px;
	overflow:hidden;
}
.banner img{
	width:60%;
	height:100px;
	float:left;
}
.head{
	float:left;
	width:38%;
	overflow:hidden;
}
.logo-k{
	float:left;
	margin-right:20px;
}
.head h1{
	font-size:300%;
	text-shadow:1px 2px #000,
			 2px 1px #000,
			 3px 2px #000,
			 2px 3px #000,
			 4px 3px #000,
			 3px 4px 5px #000;
				font-family: "Copperplate Light", "Copperplate Gothic Light", serif; 
		font-weight:bold;
}
.head span{
	padding:10px;
	font-family:script mt brush;
	font-size:16px;
	font-style:italic;
	line-height:50px;
	}
	.head h1 a{
	color:#01B0D1;
	}
.head h1 a:hover{
	text-decoration:none;
	color:white;
	}
nav{
	background-color:#00B1E1;
	font-weight:bold;
	font-size:20px;
	text-transform:uppercase;
}

nav ul{
	 height:40px;
	 margin-top:5px;
 }
nav li{
	display:inline;
	float:left;
}

nav li a:link{
	padding:0px 15px;
	display:block;line-height:40px;
	color:white;
}
nav li a:hover{
	background-color:rgba(0,0,0,1);
	color:white;
	text-decoration:none;
	}
nav li.kanan-form{
	float:right;
}
nav li.kanan-form input[type='search']{
	height:40px;
	margin-right:20px !important;
}
article{
	float:left;
	max-width:60%;
	margin:5px;
	padding:5px;
	border:1px solid #aaa;
}

aside{
	float:left;
	margin:5px;
	border:1px solid #aaa;
	width:34%;
	padding:10px;
}
label{
	width:150px;
	margin-right:10px;
}
input[type='text'],textarea{
	margin:10px;
}
input[type='submit']{
	padding:10px;
	background-color:skyblue;
	color:black;
	cursor:pointer;
	border-radius:10px;

}
input[type='text']:focus,input[type='password']:focus{
	box-shadow:2px 2px 1px skyblue;
	color:black;
}
form {
	margin:10px;
}
li{
	list-style:none;

}
ul li label{
	list-style:none;
	display
}
textarea{
	width:200px;
	height:100px;

}
.read-more{
	width:150px;
	background-color:#28324E;
	display:block;

}
.read-more a{
	color:white;
}
.kiri{
	float:left;
}
#post{
	max-width:70%;
	border:1px outset #aaa;
	float:left;
	overflow:hidden;
	margin:5px;
}
.post-jurnal,.post-news{
	margin:20px;
}
.post-jurnal{
	border-left:1px
}
.kiri-post{
	float:left;
	max-width:48.88%;
	margin-left: 6px;
}
.first-post{
	
}
.kiri-post h3{
	text-align:center;
	margin-top:10px;
	background-color:#01B0D1;
	color:white;

}
.post-head > h2{
		text-transform:uppercase;
		font-size:120%;
		border-bottom:2px double #000;
		word-wrap:break-word;
		font-weight:200;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		}
.post-head > h2:hover{
		white-space:normal;
		transition:all .4s ease-out;
		-webkit-transition:all .4s ease-out;
}
.post-head > h2 a {
	cursor:pointer;
	color:#37313A;
	}

.post-ket{
	color:#000;
	font-size:12px;
	font-family:serif;
	margin-bottom:10px;
	}

.post-head > h2 a:hover{
	text-decoration:none;
	color:#000;
	font-weight:bold;
	-webkit-transition:all .3s ease-in;
	transition:all .3s ease-in;
	}
	.desk-post{
		font-size:12px;
		color:#415457;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		}
.post, .jurnal_post{
	max-width:67%;
	border:1px solid #ddd;
	margin:5px;
	padding:10px;
	overflow:hidden;
	background-color:white;
	
}
.post{
	float:left;
}
.menu{
	float:left;
	width:20%;
	border:2px solid #aaa;
	box-shadow:1px 2px 3px #aaa;
	margin:5px;
}

.menu h3{
	margin-bottom:5px;
	border-bottom:3px double #000;
	font-weight:200;
	text-align:center;
}
.iktisar{
	padding:10px;
	border:1px solid #aaa;
	margin:5px;
	float:left;
	width:68%;
	box-shadow:3px 4px 5px #aaa;
}
.post h2{
	font-weight:bolder;
	border-bottom:2px solid #000;
}
.isi ul,.input-post li{
	list-style:none;
}
.isi li,.input-post li{
	display:inline-block;
	vertical-align: top;
}
.isi li:nth-child(1), .input-post li:nth-child(1){
	width:150px;
};
.isi li:nth-child(2), .input-post li:nth-child(2){
	width:300px;
}
.isi li input[type='text'], .input-post li input[type='text']{
	width:300px;
}
#jurnal-post{
	padding:10px;
}
.head-post{
	border-bottom:2px double #ddd;
	margin-bottom:5px;
}
.ket-post{
	font-size:14px;
	font-style:italic;
	margin-bottom:20px;
}
.isi-post{
	padding:20px;

}
.sidebar-co{
	float:left;
	margin:6px 10px ;
	border:2px solid #00B1E1;
	overflow:hidden;
	width:26%;
}
.kepala{
	text-align:center;
}
.menu .menu-in{
	padding:10px;
}
.sidebar-post ul{
	padding-left:20px;
	list-style:none;
}
.sidebar-head{
	background-color:#2969B0;
	}
.sidebar-head h3{
	font-weight:bolder;
	color:white; 
	padding:10px;
	border-bottom:3px double #00B1E1;
	}
.sidebar-head::before{
	width:0;
	height:0;
	border-width:30px;
	border-style:solid;
	border-color:transparent transparent transparent black;
}
.sidebar-post{
	padding:20px;
	list-style:none;
	}
.sidebar-post li:before{
	content:"►";
}

footer{
	max-width:100%;
	background-color:#10120D;
	color:white;
	text-align:left;
	line-height:25px;
	padding:10px;
}
#footer{
	max-width:100%;
	background-color:#10120D;
	padding:10px;
	border-bottom:2px solid white;
	overflow:hidden;
}
.foot1{
	max-width:70%;
	float:left;
}
.foot1 h3{
	border-bottom:2px solid #fff;
	margin-bottom:5px;
	font-family:serif;
}
.foot2{


}
.hak-cipta a{
color:white;
}


.border{
margin:0px;

}
.border img{
	width:1366px;
	height:5px;
}

/*========================
End Style 
If You See This Code 
You Just Confused For First or You Just Sense how for how to create dis
*================================*/